extends ../layouts/main

block title
  | #{course.name}

mixin displayTree(course, tree)
  ul
    - for node in tree
      li
        span #{node.title}
        | 
        a(href="/course/#{course.slug}/activity/#{course.normalizeSlug(node.slug)}/") View
        if node.children.length > 0
          mixin displayTree(course, node.children)

block content
  .container
     mixin breadcrumbs(['/course/',"/course/#{course.slug}/"],['Courses',course.name])
     .page-header
       h1 #{course.name}
     p #{course.description}  Du kannst beginnen, 
       a(href="/course/#{course.slug}/activity/#{course.normalizeSlug(course.activityTree[0].slug)}/") indem Du hier klickst.
       |  (Die Webseiten enthalten eine Menge JavaScript-Code, so dass es manchmal etwas länger dauert, bis alles dargestellt wird.)

     if false
       p Bei Problemen schicke bitte eine Email an ulrich.goertz@uni-due.de

     if repo.feedback
       p Einige Aktivitäten konnten nicht korrekt kompiliert werden:
       pre #{repo.feedback}

     //h2 Aktivitäten
     //.tree
     //mixin displayTree(course, course.activityTree)
