extends ../layouts/main

block title
  | #{course.name}

mixin displayTree(course, tree)
  ul
    - for node in tree
      li
        span #{node.title}
        | 
        a(href="/course/#{course.slug}/activity/#{course.normalizeSlug(node.slug)}/") View
        if node.children.length > 0
          mixin displayTree(course, node.children)

block content
  .container
     mixin breadcrumbs(['/course/',"/course/#{course.slug}/"],['Kurse',course.name])
     .page-header
       h1 #{course.name}
     p #{course.description}  Sie können beginnen, 
       a(href="/course/#{course.slug}/activity/#{course.normalizeSlug(course.activityTree[0].slug)}/") indem Sie hier klicken.
       |  (Die Webseiten enthalten eine Menge JavaScript-Code, so dass es manchmal etwas länger dauert, bis alles dargestellt wird.)

     p Wenn Sie einen Google-Account haben und sich anmelden, werden Ihre eingegebenen Lösungen gespeichert, und Sie können an der Stelle weitermachen, wo Sie aufgehört haben. Außerdem können Sie Fragen stellen/Kommentare abgeben. Natürlich können Sie die Materialien aber auch ohne Anmeldung benutzen.

     if false
       p Bei Problemen schicken Sie bitte eine Email an ulrich.goertz@uni-due.de

     if repo.feedback
       p Einige Aktivitäten konnten nicht korrekt kompiliert werden:
       pre #{repo.feedback}

     //h2 Aktivitäten
     //.tree
     //mixin displayTree(course, course.activityTree)
